<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <!-- Right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/4.jpg" alt="" class="img-fluid" title="rautela">
                        </figure>
                         
                     </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Doodler World  </p>
                        <h2>I am a Fresher <span class="text_clr">Web Developer  </span> Freelancer</h2>
                        <a href="/"><button>Back  to Home</button></a>
                    </div>
                    
                   


                </div>
            </div>

        </div>



    </div>
<!-- footer -->
{{>footer}}
</body>
</html>